appdirs==1.4.3
appnope==0.1.0
astroid==2.4.2
atomicwrites==1.3.0
attrs==20.3.0
autopep8==1.5.4
black==19.3b0
Click==7.0
decorator==4.4.0
Django==2.2.13
importlib-metadata==0.18
iniconfig==1.1.1
invoke==1.2.0
ipython==6.2.1
ipython-genutils==0.2.0
isort==5.6.4
jedi==0.14.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
more-itertools==7.1.0
packaging==20.8
parso==0.5.0
pexpect==4.7.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==1.0.16
ptyprocess==0.6.0
py==1.10.0
pycodestyle==2.6.0
Pygments==2.4.2
pylint==2.6.0
pyparsing==2.4.7
pytest==6.2.1
pytest-django==4.1.0
pytz==2017.3
PyYAML==5.1.1
simplegeneric==0.8.1
six==1.12.0
sqlparse==0.3.0
toml==0.10.0
traitlets==4.3.2
wcwidth==0.1.7
wrapt==1.12.1
zipp==0.5.1
